
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

a:link {
	text-decoration: none;
}

.like {
	color: black;
}

.like:hover {
	color: red;
}

.unlike {
	color: red;
}

.unlike:hover {
	color: black;
}

#flash-message {
    animation: flash-message 20s forwards;
}

@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}
